.git
.gitignore
.venv
**/__pycache__
**/*.pyc
.pytest_cache
.mypy_cache
.ruff_cache

.pbg/runs
.pbg/server
.pbg/state.json
.pbg/composite-runs.db

reports
out
.results_cache

external/*/.git
external/*/.venv

.idea
.vscode
.DS_Store

*.log
